<h1 class="mdl-typography--headline">SMD Color</h1>


<div class="swatch swatch--pink">
pink
</div>
<div class="swatch swatch--orange">
orange
</div>
<div class="swatch swatch--yellow">
yellow
</div>
<div class="swatch swatch--green">
green
</div>
<div class="swatch swatch--blue">
blue
</div>
<div class="swatch swatch--deep-purple">
deep-purple
</div>
<div class="swatch swatch--brown">
brown
</div>
<!--
<div class="swatch swatch--red">
red
</div>
<div class="swatch swatch--deep-orange">
deep-orange
</div>
<div class="swatch swatch--amber">
amber
</div>
<div class="swatch swatch--light-green">
light-green
</div>
<div class="swatch swatch--light-blue">
light-blue
</div>
<div class="swatch swatch--indigo">
indigo
</div>
<div class="swatch swatch--purple">
purple
</div>
<div class="swatch swatch--cyan">
cyan
</div>
<div class="swatch swatch--lime">
lime
</div>
<div class="swatch swatch--teal">
teal
</div>
-->

{{outlet}}
